/*********************************/
/*   Better-Multiselect styles   */
/*********************************/

/**
 * over-size the font on pre-converted multi-selects to make sure
 * the generated multi-selects are wide enough (javascript '.offsetWidth')
 */
select[multiple] {
    font-size: 22px;    
}

.bmultiselect {
    white-space: nowrap;
    float: left;
    margin: 6px;
}
.bmultiselect .selection {
    border : 3px solid #ccc;
    overflow: auto;
    vertical-align : middle;
}
.bmultiselect .selection label{
    text-align: left;
    vertical-align: middle;
    display: block;
    border-top: 1px solid #eee;
    background-color: #ffffff;
    cursor: pointer;
}
.bmultiselect .selection label.hover{
    background-color: #E3E8F3;
}
.bmultiselect .selection label.selected{
    background-color: #D3D8F3;
}
.bmultiselect .selection label input[type=checkbox] {
    vertical-align: middle;
    margin-left: 6px;
    margin-right: 6px;
}
.bmultiselect .selection label span {
    vertical-align: middle;
}
.bmultiselect .toolbar {
    font-size: 16px;
    text-align : center;
    vertical-align : middle;
    height : 22px;
    padding-top : 4px;
    padding-left : 3px;
    border-left : 3px solid #ccc;
    border-right : 3px solid #ccc;
    border-bottom : 3px solid #ccc;
    background-color: #ffffff;
    white-space: nowrap;
    -moz-border-radius-bottomleft: 6px;
    -moz-border-radius-bottomright: 6px;
    -webkit-border-bottom-left-radius: 6px;
    -webkit-border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.bmultiselect .toolbar span{
    padding-right : 3px;
    padding-left : 5px;
}

